@mixin flexbox($_direction, $_align, $_justify){
  display:flex;
  flex-direction: $_direction;
  align-items: $_align;
  justify-content: $_justify;
}


 @mixin vertical-width(){
  @media all and (max-width: $pad-media){
    @content;
  }
 }

@mixin pc-width(){
			@media all and (min-width:900px) and (max-width: 1150px) {
	     		@content;       
	    }
	}
@mixin pad-width(){	
	    @media all and (min-width:$pad-media) and (max-width:899px){
	     	@content;
	    }
	}

@mixin v-to-pc(){
	@media all and (max-width:1200px){
		@content;
	}
}


//https://codepen.io/ThiemelJiri/post/3-css-border-in-corners-techniques 
@mixin buildCorners ($cornerColor: #000, $cornerSize: 20, $cornerThickness: 5, $contentFontSize: 16) {
  // Params:
  //   - $cornerColor - because the SVG is not inline SVG but background image it cannot inherit the currentColor,
  //                    therefore the color has to be specified explicitly
  //   - $cornerSize - just a number in pixels without unit or wit any unit you want 
  //                 - when just a number is provided relative mode i used (will be vconverted into em)
  //                 - when number with unit is absolute mode is turned on (the unit will remain)
  //   - $cornerThickness - just a number in px without unit
  //                      - when just a number is provided relative mode i used (will be vconverted into em)
  //                      - when number with unit is absolute mode is turned on (the unit will remain)
  //   - [$contentFontSize] - used only in relative mode to recalculate previous dimensions into ems for background size
  //                        - just a number in pixels without unit

  $svgCornerSize: strip-unit($cornerSize);
  $svgCornerThickness: strip-unit($cornerThickness);
  $svgViewBox: $svgCornerSize * 2;
  $svgRectStart: $svgCornerThickness / 2;
  $svgRectSize: $svgCornerSize * 2 - $svgCornerThickness;

  // absolute mode
  $borderWidth: $svgCornerThickness * 1px;
  $borderImageWidth: $svgCornerSize * 1px;
  
  // relative mode
  @if unit($cornerSize) == '' or unit($cornerThickness) == '' {
    $borderWidth: $svgCornerThickness/$contentFontSize * 1em;
    $borderImageWidth: $svgCornerSize/$contentFontSize * 1em;
  }

  border-style: solid;
  border-width: $borderWidth;
  border-image-source: svg-uri('<svg viewBox="0 0 #{$svgViewBox} #{$svgViewBox}"><rect x="#{$svgRectStart}" y="#{$svgRectStart}" width="#{$svgRectSize}" height="#{$svgRectSize}" fill="transparent" stroke="#{$cornerColor}" stroke-width="#{$svgCornerThickness}" /></svg>');
  border-image-slice: 50%;
  border-image-width: $borderImageWidth;
}