@import url(https://fonts.googleapis.com/earlyaccess/notosanstc.css);

$bg-color:#1A2328;
$primary-color:#07C0C3;
$secondary-color:#185458;
$tertiary-color:#00676E;
$highlight-yellow:#FFD500;
$highlight-orange:#FF8000;
$text-gray:#C5C5C5;
$text-dark:#414141;
$line-gray:#707070;


$pad-media:719px;


$main-size:46vw;
$side-size:16vw;

$main-mobile-size:100vw;
$side-mobile-size:100vw;

$base-gap:30px;