body{
	background-color: $bg-color;
	color:$text-gray;
	font-family: 'Segoe UI','微軟正黑體','Noto Sans TC', sans-serif;
	font-weight:300;
}

h1{
	font-size:1.25em;
	text-align: center;
}
h2{
	font-size:1.125em;
}
h5{
	font-size:0.875em;
}
.blue{
	color:$primary-color;
}
.center{
	text-align:center;
}
.orange{
	color:$highlight-orange;
}

main{
	@include flexbox(row, flex-start, center);
	min-height:90vh;
	width:100vw;
	margin-top:5vh;
	@include vertical-width{
		height:100vh;	
		margin-top:0;
		@include flexbox(column, flex-start, flex-start);
	}
}
.bottom-line{
	display:block;
	width:10%;
	position: absolute;
	left:45%;
	border-bottom:1px solid $line-gray;
}


form{
	text-align:left;
	.form-item{
		margin-bottom:20px;
		position:relative;
	}
	label{
		font-size:0.875em;
		display:block;
		color:$primary-color;
	}
	input{
		width:75%;
		background:transparent;
		border:none;
		border-bottom:1px solid $line-gray;
		color:$text-gray;
		padding:10px 2% 5px 0;
		&:focus{
			background:$bg-color;
		}
		&.short{
			text-align:center;
			width:14%;
			color:$text-gray;
			&:focus{
				color:$text-gray;
			}
		}
		&.hint{
			color:$text-dark;
		}
	}
	input[type="radio"]{
		width:auto;
	}
	#cardno{
		letter-spacing:5px;
	}
}

.memo{
	border:1px solid $secondary-color;
	padding:$base-gap*0.5;
	margin:0 0 $base-gap*0.5 0;
	font-size:0.875em;
	li{
		padding:5px 0;
	}
	a{
		text-decoration:underline;
	}
}
.radio-group{
	@include flexbox(row, center, flex-start);
}

.radio-container {
  width:40%;	
  display: block;
  position: relative;
  padding-left: 18px;
  margin-top:10px;
  margin-bottom: 5px;
  cursor: pointer;
  font-size:0.875em;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  color:$text-gray;
  	input {
	  position: absolute;
	  opacity: 0;
	  cursor: pointer;
	}
	.radio-text{
		padding-left:10px;
	}
	/* Create a custom radio button */
	.checkmark {
	  position: absolute;
	  top: 2px;
	  left: 0;
	  height: 16px;
	  width: 16px;
	  background-color:$bg-color;
	  border:1px solid $text-gray;
	  border-radius: 50%;
	}

	/* On mouse-over, add a grey background color */
	&:hover input ~ .checkmark {
	  background-color:$bg-color;
	  border:1px solid $highlight-yellow;
	}

	/* When the radio button is checked, add a blue background */
	input:checked ~ .checkmark {
	  background-color:$highlight-yellow
	}

	/* Create the indicator (the dot/circle - hidden when not checked) */
	.checkmark:after {
	  content: "";
	  position: absolute;
	  display: none;
	}

	/* Show the indicator (dot/circle) when checked */
	input:checked ~ .checkmark:after {
	  display: block;
	}

	/* Style the indicator (dot/circle) */
	.checkmark:after {
	 	top: 1px;
		left: 1px;
		width: 12px;
		height: 12px;
		border-radius: 50%;
		background: $bg-color;
	}
}


///parsley customo
.parsley-errors-list{
	font-size:0.68em;
	color:$highlight-orange;
	width:75%;
}
.parsley-error{
	border-bottom:1px solid $highlight-orange;
}
.radio-container{
	&.parsley-error{
		border-bottom: none;
	}
}

.date-validationResult{
	display:none;
	color:$highlight-orange;
	font-size:0.68em;
	&.filled{
		display:block;
	}
}

.radio-validationResult{
	display:none;
	color:$highlight-orange;
	font-size:0.68em;
	&.filled{
		display:block;
	}
}

.main-pane{
	width:$main-size;
	height:100%;
	min-height:90vh;
	border:1px solid $secondary-color;
	margin-right:5px;
	position: relative;
	@include pc-width{
		width:$main-pc-size;
	}
	@include pad-width{
		width:$main-pad-size;
	}
	@include vertical-width{
		width:$main-mobile-size;
		border:none;
		height:auto;
		min-height:auto;
	}
	.corner-box{
		position: absolute;
		top:0;
		margin:5px;	
		width:calc( 100% - 10px);
		height:calc(100% - 10px);
		@include buildCorners($secondary-color, 10, 1);
		@include vertical-width{
			display:none;
		}
	}
	.payment-pane{
		// display:none;
		position:relative;
		text-align: center;
		h1{
			position: relative;
			padding-top: $base-gap;
		}
		.payment-selector{
			padding:$base-gap $base-gap*1.5 0 $base-gap*1.5;
			@include flexbox(row, center, space-between);
			li{
				width:30%;
			}
			@include vertical-width{
				padding:$base-gap $base-gap*0.5 0 $base-gap*0.5;				
			}
		}
		.select-line{
			height:$base-gap;
			width:1px;
			background-color:$primary-color;
			&.credit-line{
				margin-left:calc(#{$base-gap} + 15%);
			}
			&.shop-line{
				margin-left: 50%; 
			}
			&.atm-line{
				margin-left:calc(100% - #{$base-gap} - 15%);   
			}

		}

		.payment-info{
			border:1px solid $secondary-color;
			margin:0 $base-gap*1.5 10px $base-gap*1.5;
			height:auto;
			@include vertical-width{
				margin:0 $base-gap*0.5 10px $base-gap*0.5;
			}
			.deco-line{
				//https://stackoverflow.com/questions/22371753/fill-div-with-vertical-or-horizontal-lines
				background-image: linear-gradient(to left, $secondary-color 0%, transparent 20%);
			    background-size: 10px 100%;
			    width:100%;
			    height:10px;
			}
		}
		.payment-info-pane{
			display:none;
			width:80%;
			margin-left:10%;
			margin-top:4%;
			&.active{
				display:block;
			}
		}
	}
	.result-pane{
		display:none;
		padding:$base-gap;
		position:relative;
		@include vertical-width{
			padding:$base-gap $base-gap*0.5;
			min-height:92vh;
		}
		.box-title{
			padding:8px 20px;
			display:block;
			border:1px solid $secondary-color;
			position:absolute;
			z-index:30;
			top:-20px;
			left: calc(50% - 60px);
			background-color:$bg-color;
		}
		.result-info-pane{
			display:none;
			&.active{
				display:block;
			}
		}
		.col-result{
			position:relative;
			margin:$base-gap*1.5 $base-gap 0 $base-gap;
			border:1px solid $secondary-color;
			@include v-to-pc{
				margin:$base-gap*1.5 0 0 0;
			}
		}
		.two-col-result{
			@include flexbox(row, flex-start, flex-start);
			height:auto;

			.qrcode-pane{
				width:45%;
				padding:$base-gap*0.5 $base-gap $base-gap*0.3 $base-gap;
				p{
					font-size:0.75em;
				}
				h5{
					color:$highlight-yellow;
					.result-bank{
						font-size:0.75em;
						color:$highlight-yellow;
						padding-bottom:25px;
					}
				}

			}
			.result-detail-pane{
				width:55%;
				border-left:1px solid $secondary-color;
				@include flexbox(column, flex-start, flex-start);
				.result-detail{
					padding-top:$base-gap;
					padding-left:$base-gap*0.5;
				}
				.memo{
					font-size:0.75em;
					border:none;
					width:100%;
					margin:0;
					padding:5px $base-gap*0.5;
					border-top:1px solid $secondary-color;
				}
			}
			@include pad-width{
				.qrcode-pane{
					padding:$base-gap $base-gap*0.5 $base-gap*0.3 $base-gap*0.5;
				}
			}
			@include vertical-width{
				@include flexbox(column, flex-start, flex-start);	
				.qrcode-pane{
					width:100%;
					padding:$base-gap $base-gap*1.5 $base-gap*0.3 $base-gap*1.5;
					border-bottom:1px solid $secondary-color;
					p{
						float:left;
						width:40%;
					}
					h5, img{
						padding-bottom:10px;
					}
					img{
						padding-right:20px;
					}
				}
				.result-detail-pane{
					border-left:none;
					width:100%;
					.result-detail{
						padding-left:$base-gap;
						padding-right:$base-gap;
					}
					.memo{
						padding:5px $base-gap;
					}
				}
			}	
		}
		.atm-result{
			.qrcode-pane{
				padding:$base-gap $base-gap $base-gap $base-gap;		
				@include pad-width{
					padding:$base-gap $base-gap*0.5 $base-gap*0.3 $base-gap*0.5;
				}
				@include vertical-width{
					padding:$base-gap $base-gap*1.5 $base-gap*0.3 $base-gap*1.5;
				}		
			}
		}
		.result-detail{
			width:100%;
			padding:8% 10% $base-gap*0.5 10%;
			font-size:0.75em;
			@include flexbox(row, flex-start, space-between);
			@include vertical-width{
				padding:10% 10% $base-gap*0.5 10%;
			}
			li{
				padding-bottom:5px;
			}
			&_title{
				width:40%;
			}
			&_content{
				width:60%;
			}
		}
		.result-btn-container{
			margin:0 $base-gap*2 0 $base-gap*2;
			border-left:1px solid $secondary-color;
			border-right:1px solid $secondary-color;
			border-bottom:1px solid $secondary-color;
			position:relative;
			height:$base-gap*1.5;
			background: transparent;
			z-index:2;
			@include flexbox(row, flex-end, space-around);
			.layer-btn{
				margin-bottom:-20px;
			}
			@include vertical-width{
				margin:0 $base-gap 0 $base-gap;
			}
		}
		.success{
			// display:none;
			position:absolute;
			top:calc((100% - 60px) * 0.5);
			width:calc(100% - #{$base-gap*2});
			height:60px;
			background-color:rgba($tertiary-color, 0.6);
			border:1px solid #D2A735;
			text-align: center;
			font-size:2em;
			letter-spacing:5px;
			line-height:60px;
			color:$highlight-yellow;
			@include vertical-width{
				left:-$base-gap*0.5;
				width:calc(100% + #{$base-gap});
			}
		}
	}
	.order-container{
		border-top:1px solid $secondary-color;
		padding:0 10% $base-gap*0.5 10%;
		.order, .extra{
			padding-top:$base-gap*0.5;
			padding-bottom:0;
			li{
				margin-bottom:5px;
			}
		}
		.final-total{
			margin:10px 2vh 0px $base-gap;
		}
	}
	.thankyou-deco-pane{
		display:none;
		position:absolute;
	    left:10px;
	    bottom:5px;
	    width:calc(100% - 30px);
	    @include vertical-width{
	    	position:relative;
	    }
	    .thankyou-deco-line{
			//https://stackoverflow.com/questions/22371753/fill-div-with-vertical-or-horizontal-lines
			background-image: linear-gradient(to left, $secondary-color 0%, transparent 20%);
		    background-size: 10px 100%;
			width:100%;
		    height:10px;
		}
	    ul{
	    	@include flexbox(row, flex-start, flex-start);
	    	margin-left:calc(10px + 10%);
	    	margin-bottom:3px;
	    	color:$secondary-color;
	    	li{
	    		width:12%;
	    	}
	    }
	}
	
}

.order-container{
	.order, .extra{
		margin:0 2vh;
		padding:$base-gap 0 $base-gap*0.5 0;
		font-size:0.875em;
		border-bottom:1px solid $secondary-color;
		li{ 
			margin-bottom:$base-gap*0.5;
			span{
				float:right;
				color:$primary-color;
			}
		}
	}
	.extra{
		display:none;
		&.show{
			display:block;
		}
	}
	.final-total{
		color:$secondary-color;
		font-size:0.875em;
		margin:$base-gap*0.5 2vh $base-gap*0.5 $base-gap;	
		.total{
			float:right;
		color:$primary-color;
		font-size:1.375em;
		float:right;			
		}
	}
}

.side-pane{
	// display:none;
	width:$side-size;
	height:auto;
	border:1px solid $secondary-color;
	position:relative;
	padding-bottom:$base-gap*0.5;
	@include pc-width{
		width:$side-pc-size;
	}
	@include pad-width{
		width:$side-pad-size;
	}
	@include vertical-width{
		width:calc(#{$side-mobile-size} - #{$base-gap});
		margin:0 $base-gap*0.5 $base-gap*0.5 $base-gap*0.5;
	}
	h1{
		position: relative;
		padding-top: $base-gap;
		.bottom-line {
			width:30%;
			left:35%;
		}
	}
}